

body {
  background-color: white;
}

p {
  margin: 0;
  font-family: courier;
  position: relative;
  left: 9%;
}

.calc {
  position: relative;
  margin: 1em auto;
  padding: 1em 0;
  display: block-inline;
  width: 350px;
  background-color: gray;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 3px #111;
}

.row {
  text-align: center;
}

.row div.screen {
  font-family: courier;
  display: table;
  width: 60%;
  background-color: #aaa;
  text-align: right;
  font-size: 2em;
  min-height: 1.2em;
  margin-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid #888;
  color: #333;
}

.row div {
  text-align: center;
  display: inline-block;
  font-weight: bold;
  border: 1px solid #555;
  background-color: #eee;
  padding: 10px 0;
  margin: 7px 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 1px #222;
  width: 50px;
  font-family: courier;
}

.row div.zero {
  width: 112px;
}

.row div.zero {
  margin-right: 5px;
}
